torch>=2.1.0
torchaudio>=2.1.0
scipy
librosa
phonemizer
transformers==4.36.2
accelerate==0.26.1
matplotlib
pyyaml
unidecode
huggingface_hub
datasets==5.0.1
nltk
munch
einops
einops-exts
typing_extensions
tensorboard
Cython>=0.29.0
